.cursorWrapper {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 0.3s ease;
}

.iconContainer {
  position: absolute;
  top: -0.5rem; /* Offset to center the tip roughly at the cursor coordinates */
  left: -0.5rem;
}
