.themeToggle {
  position: fixed;
  bottom: -6.75rem;
  left: -3rem;
  width: auto;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: transform var(--transition-fast);
  transform-origin: bottom center;
}

.themeToggle:hover {
  /* transform: scale(1.05); */
}

.themeToggle:active {
  transform: scale(0.98);
}
