.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end; /* Right align the horizontal lines */
}

.line {
  width: 0.75rem;
  height: 2px;
  background-color: var(--text-secondary);
  border-radius: 0.25rem;
  opacity: 0.4;
}
